{% extends 'JabToolTemplateBundle:Default/Partials:main.html.twig' %}
{% block title %}Account Edit{% endblock %}

{% block body %}

<div class="page-header">
	<a href="{{ jab_abstract_entity_path(entity, "VIEW") }}" class="pull-right"><button class="btn">Cancel</button></a>

	<h1>Add/Modify Account
		<small>{{ entity.name }}</small>
	</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#tab-main" role="tab" data-toggle="tab">Main</a></li>
	<li><a href="#tab-info" role="tab" data-toggle="tab">Extra Info</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="tab-main">

		{{ form(abstract_entity_form) }}

	</div>

	<div class="tab-pane" id="tab-info">
		{% if _tmp_ is defined %}
			{% for key, val in _tmp_ %}
				<h3>{{ key }}</h3>{{ dump(val) }}<hr/>
			{% endfor %}
		{% endif %}
	</div>
</div>

{% endblock %}

